<!DOCTYPE html>
<html>
<head>
<title>Glowing button</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        </head>
        <body>
        <div>
            <h1 class="head">Hello pepe osas</h1>
        </div>
        <div class="wrapper">
            <a href="">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Button
            </a>
            <a href="">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Button
            </a>
            <a href="">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Button
            </a>
        </div>
        </body>
</html>